# Load liberies

In [1]:
import numpy as np #
import pandas as pd #
from subprocess import check_output
import matplotlib.pyplot as plt # for Graphs
import seaborn as sns #

# Load Data CSV

In [3]:
airRes = pd.read_csv('./input/air_reserve.csv')
airStore = pd.read_csv('./input/air_store_info.csv')
hpgRes = pd.read_csv('./input/hpg_reserve.csv')
hpgStore = pd.read_csv('./input/hpg_store_info.csv')
airVisit = pd.read_csv('./input/air_visit_data.csv')
relID = pd.read_csv('./input/store_id_relation.csv')

## Show the Tables data base (the columns shape ...)

In [69]:
STARS = "\n**********************************************\n"
TAB ="\t"
def showDryData(tableFunc,idString):
    #shape
    print("This table have ",tableFunc.shape[1], "cols and" ,tableFunc.shape[0] ,"rows\n")
    #unique id
    print(len(tableFunc[idString].unique()),"the number of resturants\n\n")
    #name of the cols
    print(TAB,"The names of the cols:",STARS,"{}\n".format(tableFunc.columns))
    # types of the table
    print(TAB,"The types of this table is:",STARS,"{}\n\n".format(tableFunc.dtypes))
    # the Info of the table
    print(TAB,"The info about this Table:",STARS)
    print(tableFunc.info(),"\n") 
    # the Info of the describtion
    print(TAB,"The Describe of this table is :",STARS)
    print(tableFunc.describe())
    print("\n\n\n")

### <code>air_reserve</code> Table :
#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [77]:
#showDryData(airRes,'air_store_id')
airRes.head(1)
#print('\n\n')

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1

<br><br>
### <code>air_store_info</code> Table :

In [78]:
#showDryData(airStore,'air_store_id')
airStore.head(1)

,air_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852

### <code>hpg_reserve</code> Table :
#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

### <code>air_visit_data</code> Table :

### <code>hpg_store_info</code> Table :

### <code>hpg_reserve</code> Table :

In [ ]:
#showDryData(hpgRes,'hpg_store_id')
hpgRes.head(1)

### <code>store_id_relation</code> Table :