## All <code>air</code>

## Steps :

### 1) First step prepere : merge <code>air_store_info</code> and <code>air_visit_data</code>
### 1.1) Table <code>air_visit_data</code>
### 1.2) Table <code>air_store_info</code>

### 2) Second step MERGE  the tables (finally) <code>air_visit_data</code> and <code>air_store_info</code>

### 3) step 3 Table <code>air_reserve</code>

In [465]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from subprocess import check_output

import matplotlib.pyplot as plt # for Graphs
import matplotlib.ticker as ticker
plt.style.use('ggplot') # make the pragraph red
import seaborn as sns #

from datetime import datetime

%matplotlib inline

In [466]:
airstore = pd.read_csv('../input/air_store_info.csv')
airreserve = pd.read_csv('../input/air_reserve.csv')
airvisit = pd.read_csv('../input/air_visit_data.csv')

In [467]:
print(len(airstore['air_store_id'].unique()))
print(len(airreserve['air_store_id'].unique()))
print(len(airvisit['air_store_id'].unique()))

829
314
829

## Making copy of all the files

In [468]:
airstorecopy = airstore.copy()
airreservecopy = airreserve.copy()
airvisitcopy = airvisit.copy()

### 1) First step prepere : merge <code>air_store_info</code> and <code>air_visit_data</code>

first we would like to merge those 2 tables<br>
#### And get the columns: <code>air_store_id</code>, <code>air_genre_name</code>, <code>air_area_name</code>,<code>latitude</code>, <code>longitude</code>, <code>visit_date</code>, <code>visitors</code><br>

##### Note : in the future we will get read from <code>latitude</code>, <code>longitude</code>, <code>air_area_name</code>.


##### some new varibles : <code>day_of_week</code>, <code>month</code>, <code>(latitude,longitude)</code>, <code>year</code>,

###### ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

### 1.1) Table <code>air_visit_data</code>
###### <code>day_of_week</code> , <code>month</code>,<code>year</code>, <code>day_of_the_year</code>, <code>day_of_month</code>

In [469]:
airvisitcopy.head(1)

           air_store_id  visit_date  visitors
0  air_ba937bf13d40fb24  2016-01-13        25

In [470]:
#  In order to get :
#  the 'year', 'month','dayofweek' , 'day' , 'day of month' , 'day of yaer'
# First step change to datetime
airvisitcopy['visit_date'] = pd.to_datetime(airvisitcopy['visit_date'])


# new column day of the week (0 to 6)
airvisitcopy['day'] = airvisitcopy['visit_date'].dt.dayofweek
#print(airvisit['day'].unique())

# new column day of the month (1 to 31)
airvisitcopy['dm'] = airvisitcopy['visit_date'].dt.day
#print(airvisit['dm'].unique())

# new column day of the year (1 to 366)
airvisitcopy['dy'] = airvisitcopy['visit_date'].dt.dayofyear
#print(len(airvisit['dy'].unique()))
#print(airvisit['dy'].min())


# new column month (1 to 12)
airvisitcopy['month'] = airvisitcopy['visit_date'].dt.month
#print(airvisit['month'].unique())

# new column year (2016 or 2017)
airvisitcopy['year'] = airvisitcopy['visit_date'].dt.year
#print(airvisit['year'].unique())

In [471]:
airvisitcopy.head(1)

           air_store_id visit_date  visitors  day  dm  dy  month  year
0  air_ba937bf13d40fb24 2016-01-13        25    2  13  13      1  2016

We will get read for insure from <code>dm</code>

In [472]:
airvisit.head(1)

           air_store_id  visit_date  visitors
0  air_ba937bf13d40fb24  2016-01-13        25

In [473]:
print('The copy with a lot of columns ',airvisitcopy.shape)
print('The original with less columns  ',airvisit.shape)

The copy with a lot of columns  (252108, 8)
The original with less columns   (252108, 3)

### 1.2) Table <code>air_store_info</code>
###### <code>region</code> and classter<code>longtitude</code>and <code>latitude</code> with KMeans <br>
##### KMEAMS wiki

## column <code>region</code> from <code>air_area_name</code>

In [474]:
area_split = airstorecopy['air_area_name'].str.split(' ', expand=True)
airstorecopy['region'] = area_split[0]
#print(len(airstore['region'].unique()))
#print(airstore['region'].unique())

In [475]:
airstore.head(1)

,air_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852

In [476]:
airstorecopy.head(1)

,air_store_id,air_genre_name,air_area_name,latitude,longitude,region
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852,Hyōgo-ken

We will get read of the column **<code>air_area_name</code>** , we only need the state (region)<br><br>
**For example** <code>air_area_name</code> = <code>Hyōgo-ken Kōbe-shi Kumoidōri</code> and  <code>region</code>= <code>Hyōgo-ken</code>

## ------------------------------------------------------------------------------------------------------------------------
## classter<code>longtitude</code>and <code>latitude</code> with KMeans <br>

## NOTE : not now to run this var

In [477]:
airstore.head(1)

,air_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852

In [478]:
airstore.shape

(829, 5)

In [479]:
#from sklearn.cluster import KMeans

In [480]:
#kmeans = KMeans(n_clusters=9, random_state=0).fit(airstore[['longitude','latitude']])
#airstore['cluster'] = kmeans.predict(airstore[['longitude','latitude']])

In [481]:
#airstore.head(1)

In [482]:
#f = plt.subplots(1,1,figsize=(15,6))
#hist_clust = airstore.groupby(['cluster'],as_index=False).count()
#sns.barplot(x=hist_clust['cluster'],y=hist_clust['air_store_id'])
#plt.show()

## 2) Second step MERGE  the tables (finally) <code>air_visit_data</code> and <code>air_store_info</code>

In [483]:
# first i will do copy in order to save me work 
fulldatastore_and_visit = airvisitcopy.copy()

In [484]:
# checking if the copy suceed 
fulldatastore_and_visit.head(1)

           air_store_id visit_date  visitors  day  dm  dy  month  year
0  air_ba937bf13d40fb24 2016-01-13        25    2  13  13      1  2016

In [485]:
airvisitcopy.head(1)

           air_store_id visit_date  visitors  day  dm  dy  month  year
0  air_ba937bf13d40fb24 2016-01-13        25    2  13  13      1  2016

In [486]:
fulldatastore_and_visit.shape

(252108, 8)

In [487]:
# the merge 
fulldatastore_and_visit = pd.merge(airvisitcopy,airstorecopy,on=['air_store_id']) # the defult of how=inner
print(fulldatastore_and_visit.shape)
print(fulldatastore_and_visit.columns)

(252108, 13)
Index(['air_store_id', 'visit_date', 'visitors', 'day', 'dm', 'dy', 'month',
       'year', 'air_genre_name', 'air_area_name', 'latitude', 'longitude',
       'region'],
      dtype='object')

In [488]:
# Checking
#air_ba937bf13d40fb24
fulldatastore_and_visit[fulldatastore_and_visit['air_store_id'] == 'air_ba937bf13d40fb24']

,air_store_id,visit_date,visitors,day,dm,dy,month,year,air_genre_name,air_area_name,latitude,longitude,region
0,air_ba937bf13d40fb24,2016-01-13,25,2,13,13,1,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
1,air_ba937bf13d40fb24,2016-01-14,32,3,14,14,1,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
2,air_ba937bf13d40fb24,2016-01-15,29,4,15,15,1,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
3,air_ba937bf13d40fb24,2016-01-16,22,5,16,16,1,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
4,air_ba937bf13d40fb24,2016-01-18,6,0,18,18,1,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
5,air_ba937bf13d40fb24,2016-01-19,9,1,19,19,1,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
6,air_ba937bf13d40fb24,2016-01-20,31,2,20,20,1,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
7,air_ba937bf13d40fb24,2016-01-21,21,3,21,21,1,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
8,air_ba937bf13d40fb24,2016-01-22,18,4,22,22,1,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
9,air_ba937bf13d40fb24,2016-01-23,26,5,23,23,1,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
10,air_ba937bf13d40fb24,2016-01-25,21,0,25,25,1,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
11,air_ba937bf13d40fb24,2016-01-26,11,1,26,26,1,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
12,air_ba937bf13d40fb24,2016-01-27,24,2,27,27,1,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
13,air_ba937bf13d40fb24,2016-01-28,21,3,28,28,1,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
14,air_ba937bf13d40fb24,2016-01-29,26,4,29,29,1,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
15,air_ba937bf13d40fb24,2016-01-30,6,5,30,30,1,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
16,air_ba937bf13d40fb24,2016-02-03,18,2,3,34,2,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
17,air_ba937bf13d40fb24,2016-02-04,12,3,4,35,2,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
18,air_ba937bf13d40fb24,2016-02-05,45,4,5,36,2,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
19,air_ba937bf13d40fb24,2016-02-06,15,5,6,37,2,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
20,air_ba937bf13d40fb24,2016-02-08,19,0,8,39,2,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
21,air_ba937bf13d40fb24,2016-02-09,15,1,9,40,2,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
22,air_ba937bf13d40fb24,2016-02-10,32,2,10,41,2,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
23,air_ba937bf13d40fb24,2016-02-11,3,3,11,42,2,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
24,air_ba937bf13d40fb24,2016-02-12,26,4,12,43,2,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
25,air_ba937bf13d40fb24,2016-02-13,8,5,13,44,2,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
26,air_ba937bf13d40fb24,2016-02-15,14,0,15,46,2,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
27,air_ba937bf13d40fb24,2016-02-16,15,1,16,47,2,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
28,air_ba937bf13d40fb24,2016-02-17,17,2,17,48,2,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
29,air_ba937bf13d40fb24,2016-02-18,22,3,18,49,2,2016,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,air_ba937bf13d40fb24,2017-03-22,27,2,22,81,3,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
362,air_ba937bf13d40fb24,2017-03-23,16,3,23,82,3,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
363,air_ba937bf13d40fb24,2017-03-24,27,4,24,83,3,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
364,air_ba937bf13d40fb24,2017-03-25,20,5,25,84,3,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
365,air_ba937bf13d40fb24,2017-03-27,6,0,27,86,3,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
366,air_ba937bf13d40fb24,2017-03-28,18,1,28,87,3,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
367,air_ba937bf13d40fb24,2017-03-29,20,2,29,88,3,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
368,air_ba937bf13d40fb24,2017-03-30,20,3,30,89,3,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
369,air_ba937bf13d40fb24,2017-03-31,31,4,31,90,3,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
370,air_ba937bf13d40fb24,2017-04-01,32,5,1,91,4,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
371,air_ba937bf13d40fb24,2017-04-02,4,6,2,92,4,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
372,air_ba937bf13d40fb24,2017-04-03,4,0,3,93,4,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
373,air_ba937bf13d40fb24,2017-04-04,32,1,4,94,4,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
374,air_ba937bf13d40fb24,2017-04-05,19,2,5,95,4,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
375,air_ba937bf13d40fb24,2017-04-06,12,3,6,96,4,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
376,air_ba937bf13d40fb24,2017-04-07,46,4,7,97,4,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
377,air_ba937bf13d40fb24,2017-04-08,25,5,8,98,4,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
378,air_ba937bf13d40fb24,2017-04-10,3,0,10,100,4,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
379,air_ba937bf13d40fb24,2017-04-11,9,1,11,101,4,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
380,air_ba937bf13d40fb24,2017-04-12,7,2,12,102,4,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
381,air_ba937bf13d40fb24,2017-04-13,17,3,13,103,4,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
382,air_ba937bf13d40fb24,2017-04-14,27,4,14,104,4,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
383,air_ba937bf13d40fb24,2017-04-15,16,5,15,105,4,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
384,air_ba937bf13d40fb24,2017-04-16,1,6,16,106,4,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
385,air_ba937bf13d40fb24,2017-04-17,10,0,17,107,4,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
386,air_ba937bf13d40fb24,2017-04-18,11,1,18,108,4,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
387,air_ba937bf13d40fb24,2017-04-19,11,2,19,109,4,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
388,air_ba937bf13d40fb24,2017-04-20,14,3,20,110,4,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
389,air_ba937bf13d40fb24,2017-04-21,40,4,21,111,4,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to
390,air_ba937bf13d40fb24,2017-04-22,23,5,22,112,4,2017,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,Tōkyō-to

## Will get reed of : 
* <code>dm </code> (day of the month 1 -31)
* <code>air_area_name </code> (have 3 parts)

**Maybee**:
* <code>latitude </code> 
* <code>longitude</code> (have 3 parts)

### 3) step 3 Table <code>air_reserve</code>

In [489]:
airreservecopy.shape

(92378, 4)

## 3.1) columns <code>visit_datetime</code> and <code>reserve_datetime</code>
will separate to <code>diff</code> of <code>hours</code> and <code>days</code><br>
meaning by the time the invtaions was made in the <code>air_reserve</code>:<br>
* by hours
* by days

#### 3.1.1) Hadding new columns of hours <code>vhour</code> and <code>rhour</code> BUG !!!!

In [490]:
#airreservecopyDiffByDays = airreserve.copy()

In [491]:
#airreservecopyDiffByDays.head(1)

In [492]:
#airreservecopyDiffByDays['visit_datetime'] = pd.to_datetime(airreservecopyDiffByDays['visit_datetime'])
#airreservecopyDiffByDays['reserve_datetime'] = pd.to_datetime(airreservecopyDiffByDays['reserve_datetime'])



# between 0 to 23
airreservecopyDiffByDays['vhour']=airreservecopyDiffByDays['visit_datetime'].dt.hour
#print(airreservecopy['vhour'].unique())
#airreservecopyDiffByDays['rhour']=airreservecopyDiffByDays['reserve_datetime'].dt.hour

############ Not Working Will be fix
#airreservecopyDiffByDays['diff_reserve_hours'] = airreservecopyDiffByDays.apply(
#                                               lambda r: (r['visit_datetime'] - r['reserve_datetime']).hours, axis=1)




#hourSum = airreservecopyDiffByDays.groupby(['air_store_id','visit_datetime'], as_index=False)\
#[['diff_reserve_days','reserve_visitors']].sum().rename(\
#columns ={'visit_datetime':'visit_date',
#          'diff_reserve_days':'rs_sum',
#          'reserve_visitors':'rv_sum'})



#hourMean = airreservecopyDiffByDays.groupby(['air_store_id','visit_datetime'], as_index=False)\
#[['diff_reserve_days','reserve_visitors']].mean().rename(\
#columns ={'visit_datetime':'visit_date',
#          'diff_reserve_days':'rs_mean',
#          'reserve_visitors':'rv_mean'})

#### 3.1.2) Hadding new columns of days <code>visit_datetime</code> and <code>reserve_datetime</code>

In [493]:
# diff 

# visit_datetime
airreservecopy['visit_datetime'] = pd.to_datetime(airreservecopy['visit_datetime'])
#airreservecopy['visit_datetime'] = airreservecopy['visit_datetime'].dt.date
airreservecopy['visit_date'] = airreservecopy['visit_datetime'].dt.date
# out[] : [datetime.date(2016, 1, 1)....datetime.date(2017, 5, 31)]
# print(airreservecopy['visit_datetime'].unique())

# reserve_datetime
airreservecopy['reserve_datetime'] = pd.to_datetime(airreservecopy['reserve_datetime'])
airreservecopy['reserve_datetime'] = airreservecopy['reserve_datetime'].dt.date


airreservecopy['diff_reserve_days'] = airreservecopy.apply(
                                                lambda r: (r['visit_date'] - r['reserve_datetime']).days, axis=1)

tmp1 = airreservecopy.groupby(['air_store_id','visit_date'], as_index=False)\
[['diff_reserve_days','reserve_visitors']].sum().rename(\
columns ={'visit_datetime':'visit_date',
          'diff_reserve_days':'rs_sum',
          'reserve_visitors':'rv_sum'})

#tmp2 = airreservecopy.groupby(['air_store_id','visit_datetime'], as_index=False)\
#[['diff_reserve_days','reserve_visitors']].mean().rename(\
#columns ={'visit_datetime':'visit_date',
#          'diff_reserve_days':'rs_mean',
#          'reserve_visitors':'rv_mean'})

In [494]:
print(tmp1.shape)
print(len(tmp1['air_store_id'].unique()))
#print(tmp2.shape)
#print(len(tmp2['air_store_id'].unique()))
print(airreservecopy.shape)
print(airreserve.shape)

(29830, 4)
314
(92378, 6)
(92378, 4)

In [495]:
tmp1.head()

           air_store_id  visit_date  rs_sum  rv_sum
0  air_00a91d42b08b08d9  2016-10-31       0       2
1  air_00a91d42b08b08d9  2016-12-05       4       9
2  air_00a91d42b08b08d9  2016-12-14       6      18
3  air_00a91d42b08b08d9  2016-12-17       6       2
4  air_00a91d42b08b08d9  2016-12-20       2       4

In [496]:
#tmp2.head()

In [497]:
airreservecopy = pd.merge(airreservecopy,tmp1, on=['air_store_id','visit_date'])

In [505]:
airreservecopy.head(15)

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors,visit_date,diff_reserve_days,rs_sum,rv_sum
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01,1,2016-01-01,0,0,3
1,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01,2,2016-01-01,0,0,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01,3,2016-01-01,0,0,9
3,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01,6,2016-01-01,0,0,9
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01,5,2016-01-01,0,0,5
5,air_db80363d35f10926,2016-01-02 01:00:00,2016-01-01,2,2016-01-02,1,2,34
6,air_db80363d35f10926,2016-01-02 01:00:00,2016-01-01,4,2016-01-02,1,2,34
7,air_db80363d35f10926,2016-01-02 18:00:00,2016-01-02,2,2016-01-02,0,2,34
8,air_db80363d35f10926,2016-01-02 18:00:00,2016-01-02,3,2016-01-02,0,2,34
9,air_db80363d35f10926,2016-01-02 19:00:00,2016-01-02,6,2016-01-02,0,2,34
10,air_db80363d35f10926,2016-01-02 19:00:00,2016-01-02,2,2016-01-02,0,2,34
11,air_db80363d35f10926,2016-01-02 21:00:00,2016-01-02,4,2016-01-02,0,2,34
12,air_db80363d35f10926,2016-01-02 21:00:00,2016-01-02,8,2016-01-02,0,2,34
13,air_db80363d35f10926,2016-01-02 21:00:00,2016-01-02,3,2016-01-02,0,2,34
14,air_3bb99a1fe0583897,2016-01-02 16:00:00,2016-01-02,2,2016-01-02,0,1,4

In [506]:
airreservecopy.shape

(92378, 8)

In [500]:
#finall1 = fulldatastore.copy()

In [501]:
#finall1 = pd.merge(fulldatastore,airreservecopy,how='left', on=['air_store_id'])

In [502]:
#finall1.head(20)

In [503]:
#finall1.shape

In [504]:
9873710/29830

330.9993295340262