In [1]:
import numpy as np #It provides a high-performance multidimensional array object, and tools for working with these arrays
import pandas as pd #
from subprocess import check_output
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
import matplotlib
matplotlib.style.use('ggplot')

In [2]:
# Data Aggregation
airres = pd.read_csv('../input/air_reserve.csv')
airstore = pd.read_csv('../input/air_store_info.csv')
#hpgres = pd.read_csv('../input/hpg_reserve.csv')
#hpgstore = pd.read_csv('../input/hpg_store_info.csv')
airvisit = pd.read_csv('../input/air_visit_data.csv')
dates = pd.read_csv('../input/date_info.csv')
#wd = pd.read_csv('../input/WeatherData.csv')
rel = pd.read_csv('../input/store_id_relation.csv')
#test = pd.read_csv('../input/sample_submission.csv')

air_877f79706adbfb06 in this store 
* from the **air_visit_data** we have  **383 visits** from **1-1-2016 to 22-4-2017**
* from the **air_store_info** we know it's located in **Tōkyō** and **Japanese food**
* from the **air_reserve** we know we have (visit_datetime	reserve_datetime) **1061**

In [5]:
air_877f79706adbfb06 = airvisit.copy()

air_877f79706adbfb06 = air_877f79706adbfb06[air_877f79706adbfb06['air_store_id'] == 'air_877f79706adbfb06']
v_count = len(air_877f79706adbfb06)

In [6]:
air_877f79706adbfb06
#v_count
#len(air_877f79706adbfb06['visit_date'].unique())

               air_store_id  visit_date  visitors
74720  air_877f79706adbfb06  2016-01-01         3
74721  air_877f79706adbfb06  2016-01-02        12
74722  air_877f79706adbfb06  2016-01-08        17
74723  air_877f79706adbfb06  2016-01-09         8
74724  air_877f79706adbfb06  2016-01-12        15
74725  air_877f79706adbfb06  2016-01-13        17
74726  air_877f79706adbfb06  2016-01-14        15
74727  air_877f79706adbfb06  2016-01-15        19
74728  air_877f79706adbfb06  2016-01-16         8
74729  air_877f79706adbfb06  2016-01-18        25
74730  air_877f79706adbfb06  2016-01-19        11
74731  air_877f79706adbfb06  2016-01-20        12
74732  air_877f79706adbfb06  2016-01-21         9
74733  air_877f79706adbfb06  2016-01-22         8
74734  air_877f79706adbfb06  2016-01-25        16
74735  air_877f79706adbfb06  2016-01-26         9
74736  air_877f79706adbfb06  2016-01-27        12
74737  air_877f79706adbfb06  2016-01-28        10
74738  air_877f79706adbfb06  2016-01-29        10
74739  air_877f79706adbfb06  2016-01-30        15
74740  air_877f79706adbfb06  2016-02-01        11
74741  air_877f79706adbfb06  2016-02-02        10
74742  air_877f79706adbfb06  2016-02-03         7
74743  air_877f79706adbfb06  2016-02-04        17
74744  air_877f79706adbfb06  2016-02-05        14
74745  air_877f79706adbfb06  2016-02-06         7
74746  air_877f79706adbfb06  2016-02-08        12
74747  air_877f79706adbfb06  2016-02-09        11
74748  air_877f79706adbfb06  2016-02-10        15
74749  air_877f79706adbfb06  2016-02-12        12
...                     ...         ...       ...
75073  air_877f79706adbfb06  2017-03-18        16
75074  air_877f79706adbfb06  2017-03-21        14
75075  air_877f79706adbfb06  2017-03-22        17
75076  air_877f79706adbfb06  2017-03-23         9
75077  air_877f79706adbfb06  2017-03-24        13
75078  air_877f79706adbfb06  2017-03-25         6
75079  air_877f79706adbfb06  2017-03-27        12
75080  air_877f79706adbfb06  2017-03-28        10
75081  air_877f79706adbfb06  2017-03-29        14
75082  air_877f79706adbfb06  2017-03-30        17
75083  air_877f79706adbfb06  2017-03-31        13
75084  air_877f79706adbfb06  2017-04-01         6
75085  air_877f79706adbfb06  2017-04-03         4
75086  air_877f79706adbfb06  2017-04-04        15
75087  air_877f79706adbfb06  2017-04-05        11
75088  air_877f79706adbfb06  2017-04-06        15
75089  air_877f79706adbfb06  2017-04-07        14
75090  air_877f79706adbfb06  2017-04-08         6
75091  air_877f79706adbfb06  2017-04-10        15
75092  air_877f79706adbfb06  2017-04-11        15
75093  air_877f79706adbfb06  2017-04-12        17
75094  air_877f79706adbfb06  2017-04-13        13
75095  air_877f79706adbfb06  2017-04-14        18
75096  air_877f79706adbfb06  2017-04-15         7
75097  air_877f79706adbfb06  2017-04-17         6
75098  air_877f79706adbfb06  2017-04-18        12
75099  air_877f79706adbfb06  2017-04-19        11
75100  air_877f79706adbfb06  2017-04-20        17
75101  air_877f79706adbfb06  2017-04-21        14
75102  air_877f79706adbfb06  2017-04-22         5

[383 rows x 3 columns]

In [34]:
bir_877f79706adbfb06 = airstore[airstore['air_store_id']=='air_877f79706adbfb06']
bir_877f79706adbfb06

,air_store_id,air_genre_name,air_area_name,latitude,longitude
707,air_877f79706adbfb06,Japanese food,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599

In [7]:
cir_877f79706adbfb06 = airres.copy()
cir_877f79706adbfb06  = cir_877f79706adbfb06[cir_877f79706adbfb06['air_store_id'] == 'air_877f79706adbfb06']

vdt = pd.to_datetime(cir_877f79706adbfb06.visit_datetime)

cir_877f79706adbfb06['vd']=vdt.dt.date


v2_count = len(cir_877f79706adbfb06)

In [8]:
#v2_count
#dir_877f79706adbfb06 = cir_877f79706adbfb06['reserve_datetime'].sort_values()
#cir_877f79706adbfb06
#eir_877f79706adbfb06 = cir_877f79706adbfb06[cir_877f79706adbfb06['vd'] == '2016-01-02']
cir_877f79706adbfb06

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors,vd
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1,2016-01-01
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2,2016-01-01
19,air_877f79706adbfb06,2016-01-02 18:00:00,2016-01-01 16:00:00,2,2016-01-02
26,air_877f79706adbfb06,2016-01-02 21:00:00,2016-01-01 16:00:00,2,2016-01-02
272,air_877f79706adbfb06,2016-01-08 21:00:00,2016-01-04 20:00:00,2,2016-01-08
273,air_877f79706adbfb06,2016-01-08 21:00:00,2016-01-08 21:00:00,2,2016-01-08
274,air_877f79706adbfb06,2016-01-08 21:00:00,2016-01-05 13:00:00,3,2016-01-08
398,air_877f79706adbfb06,2016-01-09 20:00:00,2016-01-06 23:00:00,2,2016-01-09
410,air_877f79706adbfb06,2016-01-09 21:00:00,2016-01-09 21:00:00,4,2016-01-09
412,air_877f79706adbfb06,2016-01-09 22:00:00,2016-01-05 12:00:00,2,2016-01-09
592,air_877f79706adbfb06,2016-01-12 21:00:00,2016-01-12 18:00:00,2,2016-01-12
593,air_877f79706adbfb06,2016-01-12 21:00:00,2016-01-12 18:00:00,2,2016-01-12
594,air_877f79706adbfb06,2016-01-12 21:00:00,2016-01-05 16:00:00,2,2016-01-12
673,air_877f79706adbfb06,2016-01-13 21:00:00,2016-01-05 19:00:00,2,2016-01-13
674,air_877f79706adbfb06,2016-01-13 21:00:00,2016-01-13 21:00:00,2,2016-01-13
675,air_877f79706adbfb06,2016-01-13 21:00:00,2016-01-05 12:00:00,2,2016-01-13
676,air_877f79706adbfb06,2016-01-13 21:00:00,2016-01-12 18:00:00,2,2016-01-13
739,air_877f79706adbfb06,2016-01-14 21:00:00,2016-01-14 21:00:00,2,2016-01-14
740,air_877f79706adbfb06,2016-01-14 21:00:00,2016-01-12 12:00:00,4,2016-01-14
741,air_877f79706adbfb06,2016-01-14 21:00:00,2016-01-12 12:00:00,2,2016-01-14
848,air_877f79706adbfb06,2016-01-15 20:00:00,2016-01-15 09:00:00,2,2016-01-15
854,air_877f79706adbfb06,2016-01-15 21:00:00,2016-01-05 12:00:00,3,2016-01-15
863,air_877f79706adbfb06,2016-01-15 22:00:00,2016-01-14 22:00:00,2,2016-01-15
864,air_877f79706adbfb06,2016-01-15 22:00:00,2016-01-05 14:00:00,6,2016-01-15
865,air_877f79706adbfb06,2016-01-15 22:00:00,2016-01-15 18:00:00,2,2016-01-15
866,air_877f79706adbfb06,2016-01-15 22:00:00,2016-01-12 12:00:00,2,2016-01-15
867,air_877f79706adbfb06,2016-01-15 22:00:00,2016-01-15 22:00:00,2,2016-01-15
1004,air_877f79706adbfb06,2016-01-16 20:00:00,2016-01-16 20:00:00,2,2016-01-16
1005,air_877f79706adbfb06,2016-01-16 20:00:00,2016-01-05 16:00:00,2,2016-01-16
1012,air_877f79706adbfb06,2016-01-16 21:00:00,2016-01-04 10:00:00,2,2016-01-16
...,...,...,...,...,...
88820,air_877f79706adbfb06,2017-04-19 20:00:00,2017-04-18 17:00:00,2,2017-04-19
88860,air_877f79706adbfb06,2017-04-19 21:00:00,2017-04-11 13:00:00,3,2017-04-19
88861,air_877f79706adbfb06,2017-04-19 21:00:00,2017-04-17 18:00:00,2,2017-04-19
89142,air_877f79706adbfb06,2017-04-20 20:00:00,2017-04-12 23:00:00,4,2017-04-20
89143,air_877f79706adbfb06,2017-04-20 20:00:00,2017-04-12 23:00:00,3,2017-04-20
89182,air_877f79706adbfb06,2017-04-20 21:00:00,2017-04-05 16:00:00,6,2017-04-20
89203,air_877f79706adbfb06,2017-04-20 22:00:00,2017-04-15 19:00:00,3,2017-04-20
89710,air_877f79706adbfb06,2017-04-21 20:00:00,2017-04-15 19:00:00,2,2017-04-21
89798,air_877f79706adbfb06,2017-04-21 21:00:00,2017-04-17 18:00:00,2,2017-04-21
89799,air_877f79706adbfb06,2017-04-21 21:00:00,2017-04-12 23:00:00,4,2017-04-21
89800,air_877f79706adbfb06,2017-04-21 21:00:00,2017-04-20 18:00:00,4,2017-04-21
89857,air_877f79706adbfb06,2017-04-21 22:00:00,2017-04-21 22:00:00,2,2017-04-21
90465,air_877f79706adbfb06,2017-04-22 20:00:00,2017-04-22 18:00:00,2,2017-04-22
90466,air_877f79706adbfb06,2017-04-22 20:00:00,2017-04-22 18:00:00,3,2017-04-22
90865,air_877f79706adbfb06,2017-04-24 20:00:00,2017-04-03 22:00:00,5,2017-04-24
90998,air_877f79706adbfb06,2017-04-25 20:00:00,2017-04-03 22:00:00,5,2017-04-25
91146,air_877f79706adbfb06,2017-04-26 21:00:00,2017-04-12 23:00:00,2,2017-04-26
91147,air_877f79706adbfb06,2017-04-26 21:00:00,2017-03-24 13:00:00,4,2017-04-26
91150,air_877f79706adbfb06,2017-04-26 22:00:00,2017-03-24 13:00:00,2,2017-04-26
91266,air_877f79706adbfb06,2017-04-27 20:00:00,2017-04-03 22:00:00,5,2017-04-27
91479,air_877f79706adbfb06,2017-04-28 21:00:00,2017-04-18 17:00:00,3,2017-04-28
91480,air_877f79706adbfb06,2017-04-28 21:00:00,2017-04-15 19:00:00,2,2017-04-28
91793,air_877f79706adbfb06,2017-05-02 21:00:00,2017-03-31 22:00:00,3,2017-05-02
91915,air_877f79706adbfb06,2017-05-04 21:00:00,2017-04-11 13:00:00,3,2017-05-04
92092,air_877f79706adbfb06,2017-05-08 22:00:00,2017-04-12 23:00:00,4,2017-05-08
92126,air_877f79706adbfb06,2017-05-10 20:00:00,2017-04-12 23:00:00,6,2017-05-10
92179,air_877f79706adbfb06,2017-05-12 21:00:00,2017-04-12 23:00:00,5,2017-05-12
92295,air_877f79706adbfb06,2017-05-19 20:00:00,2017-03-31 22:00:00,9,2017-05-19
92336,air_877f79706adbfb06,2017-05-25 20:00:00,2017-04-05 16:00:00,3,2017-05-25
92375,air_877f79706adbfb06,2017-05-31 20:00:00,2017-04-12 23:00:00,3,2017-05-31

In [59]:
cir_877f79706adbfb06[cir_877f79706adbfb06['vd'] == (2016,1,2)]

Empty DataFrame
Columns: [air_store_id, visit_datetime, reserve_datetime, reserve_visitors, vd]
Index: []