# <code> store_id_relation </code> Table

# Load Liberies

In [14]:
import numpy as np #
import pandas as pd #
from subprocess import check_output

In [15]:
rel = pd.read_csv('../input/store_id_relation.csv')

In [16]:
rel.head(3)

           air_store_id          hpg_store_id
0  air_63b13c56b7201bd9  hpg_4bc649e72e2a239a
1  air_a24bf50c3e90d583  hpg_c34b496d0305a809
2  air_c7f78b4f3cba33ff  hpg_cd8ae0d9bbd58ff9

In [17]:
display(rel.describe())

                air_store_id          hpg_store_id
count                    150                   150
unique                   150                   150
top     air_96005f79124e12bf  hpg_a9d42bc9b56916f4
freq                       1                     1